<body>
  <section class="gallery-block compact-gallery">
    <div class="container">
        <div class="heading">
            <h2>Your Images</h2>
        </div>
        <div class="row no-gutters">
          <%= render @photos %>
        </div>
    </div>
  </section>
  <div class="row justify-content-center">
    <%= link_to '+ New Image', [:new, :photo], class: 'btn btn-success new-btn' %>
  </div>
</body>