<body>
    <section class="gallery-block compact-gallery">
        <div class="container">
            <div class="heading">
              <h2>Search Results for "<%= params[:q]  %>"</h2>
            </div>
            <div class="row no-gutters">
              <%= render @photos %>
            </div>
        </div>
    </section>
</body>